:root {
  --main-color: #757575;
  --additional-color: #212121;
  --white-text: #ffffff;
  --white-translucent-color: rgba(255, 255, 255, 0.6);
  --focus-color: #2196f3;
  --footer-color: #2f303a;
}

body {
  color: var(--main-color);
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;

  outline: solid 2px teal;
}

.section {
  padding: 94px 0px;
  outline: solid 2px tomato;
}

.command-background {
  background-color: #f5f4fa;
}

.zero-top-padding {
  padding-top: 0;
}

/* Header */

.logo {
  color: var(--additional-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.first-part-logo {
  color: var(--focus-color);
}

.navigation a {
  color: var(--additional-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation a:hover,
.navigation a:focus {
  color: var(--focus-color);
}

.navigation .current-tab {
  color: var(--focus-color);
}

.contacts a {
  color: var(--main-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts a:hover,
.contacts a:focus {
  color: var(--focus-color);
}

/* Hero */

.hero {
  text-align: center;
  background-color: #2f303a;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 28px;
  color: var(--white-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .button {
  display: inline-block;
  min-width: 200;
  border-radius: 4px;
  padding: 10px 32px;
  color: var(--white-text);
  background-color: var(--focus-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--additional-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Features */

.features .title {
  margin-top: 0;
  margin-bottom: 10;
  color: var(--additional-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features p {
  margin: 0;
}


/* Command */

.command.list img{
  margin-bottom: 30px;
}

.command .name {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--additional-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.command p {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

/* Portfolio */
/* Filter */
.filter {
  text-align: center; 
}

.filter button {
display: inline-block;
min-width: 29px;
padding: 6px 22px;
border-radius: 4px;
border: none;
color: var(--additional-color);
background-color: #F5F4FA;;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.06em;
}


.filter button:hover,
.filter button:focus {
color: var(--white-text);
background: var(--focus-color);
}

/* Example */
.portfolio h3 {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--additional-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio p {
  margin: 0;
  font-size: 16px;
  line-height: 1.88;
}

.portfolio.title {
  margin: 0;
}

.portfolio .list {
  margin-bottom: 0px;
}

.portfolio.list img {
  margin-bottom: 20px;
}

/* Footer */
.footer {
  background-color: var(--footer-color);
}

.adress{
  margin-top:0 ;
  margin-bottom: 9px;
  color: var(--white-text);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-mail,
.footer-telephone {
  display: inline-block;
  margin-top: 9px;
  color: var(--white-translucent-color);
}

.footer .logo {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 20px;
  color: var(--white-text);
}


