:root {
  --main-color: #757575;
  --additional-color: #212121;
  --white-text: #ffffff;
  --white-translucent-color: rgba(255, 255, 255, 0.6);
  --focus-color: #2196f3;
}

body {
  color: var(--main-color);
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
  /* outline: solid 2px tomato; */
}

.section{
  padding: 94px 0;
  outline: solid 2px tomato;

}

.command-background{
  background-color:  #F5F4FA;

}


.zero-top-padding{
  padding-top: 0;
}

/* Header */


.logo {
  color: var(--additional-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.first-part-logo {
  color: var(--focus-color);
}

.navigation a {
  color: var(--additional-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation a:hover,
.navigation a:focus {
  color: var(--focus-color);
}

.navigation .current-tab {
  color: var(--focus-color);
}

.contacts a {
  color: var(--main-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts a:hover,
.contacts a:focus {
  color: var(--focus-color);
}

/* Hero */

.hero{
  text-align: center;
  background-color: #2F303A  ;

}

.hero-title {
  margin-top: 0;
  margin-bottom: 28px;
  color: var(--white-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .button {
  display: inline-block;
  min-width: 200;
  border-radius: 4px;
  padding: 10px 32px;
  color: var(--white-text);
  background-color: var(--focus-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--additional-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Features */

.features .title {
  margin-top: 0;
  margin-bottom: 10;
  color: var(--additional-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features p {
  margin: 0;
}

/* Command */
.command .name {
  color: var(--additional-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

/* Portfolio */
.portfolio h3 {
  color: var(--additional-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio p {
  font-size: 16px;
  line-height: 1.88;
}

.command p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

/* Footer */
.footer-mail {
  color: var(--white-translucent-color);
}

.footer-telephone {
  color: var(--white-translucent-color);
}

.filter button {
  color: var(--additional-color);
  background: #f5f4fa;
}

.filter button:hover,
.filter button:focus {
  color: var(--white-text);
  background: var(--focus-color);
}
